@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/non-dashboard-layout.cshtml";
}

<h1>You are locked out of account. Please try again in couple of mins.</h1>