@using RPMS.ViewModels
@model CreateStreetViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mx-3 mt-3">
    <a asp-controller="address" asp-action="Index" class="btn btn-outline-dark">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </span> Back
    </a>
</div>
        
<div class="d-flex justify-content-center my-3">
    <div class="card" style="width:400px">
        <div class="card-header">
            Add New Street
        </div>

        <div class="card-body">
             <form method="post" asp-action="add" asp-controller="street" >
                <div class="row g-3 mb-4">
                    <div class="col-sm-12">
                        <label asp-for="StreetName" class="form-label">Street name</label>
                        <input asp-for="StreetName" class="form-control" placeholder="">
                        <span asp-validation-for="StreetName" class="text-danger small">                    
                        </span> 
                    </div>
                </div>
                <input hidden asp-for="AddressId" />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>        
        </div>
    </div>
</div>
